#boutonQuest {
    margin-top: 4em;
}

p {
    text-align: center;
    font-size: 1.2em;
    margin-top: 2em;
    margin-bottom: 0;
}

#logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: inline-block;
    width: 15em;
    margin: 1em auto;
}

a.truc {
    display: block;
    position: relative;
    width: 20em;
    background-color: rgb(67, 136, 244);
    border: 0.15em solid rgb(67, 136, 244);
    border-radius: 0.1em;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    padding: 1em 0.5em;
    margin: 1em auto;
    font-size: 1.1em;
}
a.truc:hover {
    display: block;
    background-color: rgb(255, 255, 255);
    border: 0.15em solid rgb(67, 136, 244);
    border-radius: 0.1em;
    color: rgb(67, 136, 244);
    /*padding: 1em 0.5em;
    margin: 1em;
    font-size: 1.1em;*/
}