#ligne {
    margin: 3em 1em 2em;
    border-top: 0.1em solid rgb(69, 216, 138);
}

p {
    text-align: center;
    font-size: 1.2em;
    margin-top: 2em;
    margin-bottom: 0;
}

#logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: inline-block;
    max-width: 15em;
    max-height: 9em;
    margin: 0em auto;
}
@media screen and (max-width: 1140px) {
    /*pas tous les logos sur 1 ligne*/
    #logos {
        display: inline-block;
        padding: 0 10vw;
        text-align: center;
    }
    .logo {
        padding: 1em;
    }
}

a.boutonsAccueil {
    display: block;
    position: relative;
    width: 20em;
    background-color: rgb(3, 0, 105);
    border: 0.15em solid rgb(3, 0, 105);
    border-radius: 0.1em;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    padding: 1em 0.5em;
    margin: 1em auto;
    font-size: 1.1em;
}
a.boutonsAccueil:hover {
    display: block;
    background-color: rgb(255, 255, 255);
    border: 0.15em solid rgb(3, 0, 105);
    border-radius: 0.1em;
    color: rgb(3, 0, 105);
    /*padding: 1em 0.5em;
    margin: 1em;
    font-size: 1.1em;*/
}