/*bleu google rgb(67, 136, 244)
vert google rgb(33, 164, 102)
jaune google rgb(255, 225, 80)*/

*, html, body {
    font-family: Verdana, Arial, sans-serif;
	font-size: 2.5vmin;
	line-height: 1.3em;
}

body {
    background-color: rgb(255, 255, 255);
}

#logo_ASRE49 {
    height: 4em;
    position: absolute;
    top: 2em;
    left: 1em;
}

.deco {
    max-height: 10em;
    max-width: 21vw;
    position: absolute;
    top: 0em;
    right: 0em;
}

h1 {
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
    margin: 2em;
}

#questionnaire {
    text-align: center;
}

/*------------- Renseignements -------------*/

.sous-titre {
    font-size: 1.1em;
    margin: 1.3em 0.3em 0.7em 0.3em;
    border-bottom: 0.1em solid rgb(33, 164, 102);
}

input[type=text], input[type=email], select {
    padding: 0.3em;
    margin:  0.3em 0em;
    border: none;
    border-bottom: 0.1em solid rgb(255, 225, 80);
}
input[type=text]:focus, input[type=email]:focus, select:focus {
    outline: none;
    background-color: rgba(255, 226, 80, 0.275);
}

input[type=number] {
    padding: 0.3em;
    margin:  0.3em 0em;
    border: none;
    border-bottom: 0.1em solid rgb(67, 136, 244);
}

/*---------------- Questions ---------------*/
fieldset {
    display: inline-block;
    text-align: left;
    width: 41vw;
    background-color: rgb(255, 255, 255);
    margin: 0.5em 1em;
    border: 0.1em solid rgb(33, 164, 102);
    border-radius: 0.1em;
}

.question {
    font-size: 1.1em;
    margin-top: 0.5em;
}

label {
    display: block;
    margin: 0.3em;
}

.form-control {
    display: block;
}

input[type="checkbox"], input[type="radio"] {
    /* Cacher checkbox originale*/
    -webkit-appearance: none;
    appearance: none;  
    background-color: rgb(255, 255, 255);/* For iOS < 15 to remove gradient background */
    margin: 0em;
    /*custom checkbox non sélectionnées */
    width: 1em;
    height: 1em;
    border: 0.14em solid rgb(67, 136, 244);
    border-radius: 0.15em;
}
input[type="checkbox"]:hover, input[type="radio"]:hover {
    background-color: rgba(67, 135, 244, 0.335);
}

/*custom checkbox sélectionnée*/
input[type="checkbox"]:checked, input[type="radio"]:checked {
    height: 1em;
    background-color: rgb(67, 136, 244);
}

/*----------- Boutons ----------*/
button {
    background-color: rgb(255, 255, 255);
    border: 0.15em solid rgb(67, 136, 244);
    border-radius: 0.1em;
    padding: 0.3em 0.5em;
    margin: 0.3em;
    font-size: 1.1em;

}
button:hover {
    background-color: rgb(67, 136, 244);
    color: white;
}

#sauvegarder {
    margin-left: 2em;       /*écarter les 2 bouttons du bord gauche*/
}

/*///----------------- Viewport < 980px ----------------///*/
@media screen and (max-width: 980px) {
    fieldset {
        display: inline-block;
        width: 85%;
        margin: 0.5em 1em;
    }
}

/*---------------------------------------------- Page 2 --------------------------------------------*/
h2 {
    border-top: 0.05em solid rgb(33, 164, 102);
    text-align: center;
    font-size: 2.5em;
    font-weight: normal;
    font-style: italic;
    margin: 1.5em 1em;
    padding-top: 1em;
}

p:has(a) {
    text-align: center;
}

a:link {
    color: rgb(67, 136, 244);
    font-size: 1.4em;
}
a:hover {
    color: rgb(255, 225, 80);
}
/*a:visited {
    color: rgb(67, 136, 244);
}*/